<footer class="footer">
  <div class="footer__container container">
    <div class="row">
      <%= fa_icon('copyright', class: "footer__copy") %> 
      <span>Сергей <%= Time.now.year %></span>
    </div>
  </div>
</footer>