body {
  overflow-x: hidden;
  overflow-y: auto;
  font-family: $main-font;
  

  &.lock {
    overflow: hidden;
  }
}

.hide-scroll-y {
  overflow-y: hidden;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding-top: 50px;
}

.main {
  flex: 1 1 auto;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1160px;
  padding: 0 30px;
  margin: 0 auto;
  z-index: 1;
}

.row {
  display: flex;
  flex-direction: row;

  &__space-between {
    justify-content: space-between
  }
}

.col {
  display: flex;
  flex-direction: column;
}

.catalog__title {
  font-size: 30px;
  font-weight: 600;
  font-family: $main-font
}

.mb {
  margin-bottom: 10px;
  &-s {
    margin-bottom: 20px;
  }
  &-lg {
    margin-bottom: 40px;
  }
}
.mt {
  margin-top: 10px;
  &-s {
    margin-top: 20px;
  }
  &-lg {
    margin-top: 40px;
  }
}



::-webkit-scrollbar {
  width: 10px;
  background-color: $white-color;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #b10a39;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #f9f9fd;
}